
  .nav-pills .nav-link.btn-success {
    background-color: white; /* Bootstrap's green */
    color: black;
  }
  
  .nav-pills .nav-link.btn-success.active {
    background-color: grey; /* Active green color */
 
  }
  .carousel-control-prev-icon{
    background-color: grey;
  }
  .carousel-control-next-icon{
    background-color: grey;
  }

.carousel-inner{
  margin-top: 10%;
}