
  .nav-pills .nav-link.btn-success {
    background-color: white; /* Bootstrap's green */
    color: black;
  }
  
  .nav-pills .nav-link.btn-success.active {
    background-color: #198754; /* Active green color */
 
  }